.header{
    text-align: center;
}

.logo{
    height: 50px;
}
.header nav{
    background-color: rgb(243, 136, 49);
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    

}
.header nav a:hover{
    color: rgb(55, 241, 117);
}